@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.home-container {
    width: 100%;
    height: 100vh;
    background-image: url('assets/images/login-cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.home-container .content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(26, 25, 25, 0.671);
    color: white;
}

.home-container .content-wrapper p {
    font-size: 22px;
}
