@import 'bootstrap/dist/css/bootstrap.min.css';
@import './assets/vendor/open-color.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.home-container {
    width: 100%;
    height: 100vh;
    background-image: url('assets/images/login-cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.home-container .content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(26, 25, 25, 0.671);
    color: white;
}

.home-container .content-wrapper p {
    font-size: 22px;
}

.home-container .buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 360px;

    .button-container {
        width: 50%;
        padding: 0px 10px;

        @media only screen and (max-width: 768px) {
            width: 100%;
            padding: 0px 15% 20px 15%;
        }
    }
}

.participants {
    max-height: calc(100vh - 220px);
    overflow: auto;
    position: relative;
}

.avatar {
    width: 48px;
    min-width: 48px;
    height: 48px;
    border-radius: 48px;
    color: white;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.crown,
.medal {
    position: absolute;
}

.crown {
    top: 0px;
}

.medal {
    bottom: 0px;
}
