.room-page {
    background-color: #26a69a;
    color: white;
    min-height: 100vh;

    .welcome-page,
    .question-page {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 4rem;

        .illustration {
            width: 100%;
            height: auto;
            max-width: 200px;
        }
    }

    .responses-container {
        align-self: flex-end;
    }

    .question-area {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .response-button {
        min-height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
