.loading-component {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.226);
    display: flex;
    align-items: center;
    justify-content: center;
}
